.wrapper{
    width: 773px;
    background: #fff;
    border: 1px solid #EAEBED;
    border-radius: 12px;
}
.container{
    padding: 24px;
    width: 725px;
}
.label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.adres{
    display: flex;
    align-items: center;
}
.title{
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #5E96FC;
}
.salary{
    font-weight: 600;
    font-size: 16px;
    color: #232134;
}
.dot{
    margin: 0 12px;
}
.location{
    margin-left: 8px;
    color: #232134;
}
.busy{
    color: #232134;
}
.favorite_icon{
    cursor: pointer;
}
.deleted{
    display: none;
}
div:has(> .deleted){
    display: none;
}

@media (max-width: 830px) {
    .wrapper{
        display: flex;
        width: 100%;
        margin: 1rem auto;
    }
    .container{
        width: 100%;
    }
}

@media (max-width: 570px) {
    .title{
        font-size: 18px;
    }
    .salary{
        font-size: 14px;
    }
    .busy{
        font-size: 14px;
    }
    .location{
        font-size: 14px;
    }
}