.container{
    max-width: 1116px;
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    background-color: #fff;
    margin-bottom: 40px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 280px;
}

.logo_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 12px;
}

.nav{
    display: flex;
    align-items: center;
}

.nav_first_child{
    margin-right: 60px;
}
.selected{
    font-weight: 500;
    color: #5E96FC;
}