.wrapper{
    width: 773px;
    background: #fff;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    margin-bottom: 20px;
}
.container{
    padding: 24px;
    width: 725px;
}
.label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info{
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.adres{
    display: flex;
    align-items: center;
}
.title{
    font-weight: 700;
    font-size: 28px;
}
.salary{
    font-weight: 700;
    font-size: 20px;
    color: #232134;
}
.dot{
    margin: 0 12px;
}
.location{
    margin-left: 8px;
    color: #232134;
}
.busy{
    font-size: 20px;
    color: #232134;
}

@media (max-width: 830px) {
    .wrapper{
        display: flex;
        width: 100%;
    }
    .container{
        width: 100%;
    }
}

@media (max-width: 650px) {
    .title{
        font-size: 20px;
    }
    .salary{
        font-size: 16px;
    }
    .busy{
        font-size: 16px;
    }
    .location{
        font-size: 14px;
    }
}